.owl-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.owl-dot {
  display: inline-block;
  margin: 0 5px;
}

.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.owl-nav button {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
}

.owl-prev {
  margin-left: 20px;
}

.owl-next {
  margin-right: 20px;
}
